<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  th:include="layouts/dashboard :: page">
	<head th:fragment="additionalHead">
		<title th:text="#{dashboard.title}"></title>

		<link rel="stylesheet" href="/css/dashboard.css" />
	</head>
	<body>
		<main th:fragment="content" class="mdl-layout__content mdl-color--grey-100">
			<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
				<thead>
					<tr>
						<th th:text="#{user.id}"></th>
						<th class="mdl-data-table__cell--non-numeric" th:text="#{user.username}"></th>
						<th class="mdl-data-table__cell--non-numeric" th:text="#{user.name.given}"></th>
						<th class="mdl-data-table__cell--non-numeric" th:text="#{user.name.last}"></th>
						<th class="mdl-data-table__cell--non-numeric" th:text="#{user.email}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.id}"></td>
						<td class="mdl-data-table__cell--non-numeric" th:text="${user.username}"></td>
						<td class="mdl-data-table__cell--non-numeric" th:text="${user.givenName}"></td>
						<td class="mdl-data-table__cell--non-numeric" th:text="${user.lastName}"></td>
						<td class="mdl-data-table__cell--non-numeric" th:text="${user.email}"></td>
					</tr>
				</tbody>
			</table>
		</main>
	</body>
</html>
