<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  th:include="layouts/base :: page">
	<head th:fragment="additionalHead">
		<title th:text="#{login.title}"></title>

		<link rel="stylesheet" href="/css/home.css" />
	</head>
	<body>
		<div th:fragment="content">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--3-col"></div>
				<div class="mdl-cell mdl-cell--6-col">
					<div th:if="${param.error}" th:text="#{form.login.error}"></div>
					<form th:action="@{/login}" method="post">
						<div>
							<div class="mdl-textfield mdl-js-textfield">
								<input class="mdl-textfield__input" type="text" id="username" name="username" />
								<label class="mdl-textfield__label" for="username" th:text="#{form.username}"></label>
							</div>
						</div>
						<div>
							<div class="mdl-textfield mdl-js-textfield">
								<input class="mdl-textfield__input" type="password" id="password" name="password" />
								<label class="mdl-textfield__label" for="password" th:text="#{form.password}"></label>
							</div>
						</div>
						<div>
							<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
								<i class="material-icons">send</i>
							</button>
						</div>
					</form>
				</div>
				<div class="mdl-cell mdl-cell--3-col"></div>
			</div>
		</div>
	</body>
</html>